.header__mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  margin-right: 24px;
  transition: all .4s ease;
}

.header__mail:hover {
  opacity: .6;
}

@media screen and (max-width: 450px) {
  .header__mail {
    margin-right: 0;
    margin-bottom: 18px;
  }
}