.profile__info {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 294px 16px min-content;
  grid-template-columns: 294px min-content;
  -ms-grid-rows: 48px 16px 22px;
  grid-template-rows: 48px 22px;
  gap: 16px;
}

@media screen and (max-width: 768px) {

  .profile__info {
    gap: 14px;
  }
}

@media screen and (max-width: 450px) {
  .profile__info {
    -ms-grid-columns: 189px min-content;
    grid-template-columns: 189px min-content;
    -ms-grid-rows: 33px 17px;
    grid-template-rows: 33px 17px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 6px;
    margin-left: 27px;
  }

}
