.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  background-image: url(./../../../images/pen.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 450px) {

  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
