.header {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  width: calc(100% - 38px);
}

@media screen and (max-width: 450px) {

  .header {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 27px;
  }
}