.header {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-bottom: 41px;
  width: calc(100% - 38px);
}

@media screen and (max-width: 450px) {

  .header {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 27px;
  }
}